<div id="chat-groups-modal">
  <nz-modal
    [nzVisible]="isShowGroupsModal"
    [nzTitle]="'添加群组'"
    [nzWidth]="'700px'"
    [nzContent]="modalContent"
    (nzOnCancel)="handleCancel($event)"
    (nzOnOk)="handleOk($event)"
  >
    <ng-template #modalContent>
      <div class="add-groups-wrap">
        <div class="modal-content-header">
          <nz-input-group nzCompact>
            <nz-select [ngModel]="'groupName'">
              <nz-option [nzLabel]="'小组名称'" [nzValue]="'groupName'"></nz-option>
            </nz-select>
            <input [(ngModel)]="search" style="width: 50%;" nz-input>
            <button nz-button [nzType]="'primary'" (click)="searchGroups($event)">
              <span>查询</span>
            </button>
          </nz-input-group>
        </div>
        <div class="modal-content-body">
          <div class="modal-content-item" *ngFor="let groupInfo of groupInfos">
              <div class="modal-content-item-left">
                <div class="modal-content-item-avator">
                  <img src="{{groupInfo.group_avator}}" alt="pic" />
                </div>
                <div class="modal-content-item-description">
                  <p>{{groupInfo.group_name}}</p>
                  <p>{{groupInfo.group_introduce}}</p>
                </div>
              </div>
              <div class="modal-content-item-right">
                <div>申请添加</div>
              </div>
          </div>
        </div>
        <div class="modal-content-footer" *ngIf="groupInfos.length > 0">
          <nz-pagination
            [(nzPageIndex)]="pagination.pageIndex"
            [nzPageSize]="pagination.pageSize"
            [nzTotal]="pagination.total"
            [nzSize]="'small'"
            (nzPageIndexChange)="handleChangePagination($event)"
            nzShowTotal
            nzShowQuickJumper
          >
          </nz-pagination>
        </div>
      </div>
    </ng-template>
  </nz-modal>
</div>