
.chat-nav {
  display: flex;
  justify-content: space-between;
}
.nav-search {
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
  width: 200px;
}
.self-info {
  height: 50px;
  line-height: 50px;
  padding-right: 20px;
}
.self-info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}