.chat-room-panel .chat-room-header {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid #eeeeee;
  text-align: center
}
.chat-room-panel .chat-room-content {
  height: 370px;
  overflow-y: scroll;
}
.chat-message-left, .chat-message-right {
  width: 60%;
  display: flex;
  margin: 20px 0px;
  padding: 0px 10px;
}
.chat-message-left {
  float: left;
}
.chat-message-right {
  justify-content: flex-end;
  float: right;
}
.chat-message-left .chat-message-info {
  margin-left: 10px;
  position: relative;
  top: 0px;
  left: 0px;
}
.chat-message-right .chat-message-info {
  margin-right: 10px;
  position: relative;
  top: 0px;
  left: 0px;
}
.chat-message-right .chat-message-time {
  text-align: right;
}
.chat-message-content {
  border-radius: 3px;
  padding: 5px;
  line-height: 180%;
}
.chat-message-left .chat-message-content {
  background-color: deepskyblue;
}
.chat-message-left .chat-message-content::before {
  display: block;
  content: "";
  border-top: 5px solid transparent;
  border-right: 13px solid deepskyblue;
  border-bottom: 8px solid transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  left: -10px;
  top: 23px;
  transform: rotate(16deg);
}
.chat-message-right .chat-message-content {
  background-color: lawngreen;
}
.chat-message-right .chat-message-content::after {
  display: block;
  content: "";
  border-top: 5px solid transparent;
  border-left: 13px solid lawngreen;
  border-bottom: 8px solid transparent;
  width: 0px;
  height: 0px;
  position: absolute;
  right: -10px;
  top: 23px;
  transform: rotate(-16deg);
}
