<div class="chat-room-panel">

  <div class="chat-room-header">
    {{currentContact.nickname}}
  </div>

  <div class="chat-room-content" id="chat-room-content">
    <div *ngIf="currentContact.nickname !== ''" class="chat-room-top">
      <a>加载历史消息</a>
    </div>
    <div
      *ngFor="let messageInfo of currentMessages"
      [class.chat-message-left]="!isMySelf(messageInfo)"
      [class.chat-message-right]="isMySelf(messageInfo)"
    >
      <div *ngIf="!isMySelf(messageInfo)" class="chat-contact-avator">
        <nz-avatar
          [nzSrc]="messageInfo.source.avator"
          nzIcon="anticon anticon-user"
        >
        </nz-avatar>
      </div>
      <div class="chat-message-info">
        <p class="chat-message-time">{{this.formatTime(messageInfo.time)}}</p>
        <div class="chat-message-content">
          {{messageInfo.content}}
        </div>
      </div>
      <div *ngIf="isMySelf(messageInfo)" class="chat-contact-avator">
        <nz-avatar
          [nzSrc]="messageInfo.source.avator"
          nzIcon="anticon anticon-user"
        >
        </nz-avatar>
      </div>
    </div>
  </div>
</div>
