<div class="chat-room-panel">
  <div class="chat-room-header">
    {{currentContact.nickname}}
  </div>
  <div class="chat-room-content">
    <div class="chat-message-left">
      <div class="chat-contact-avator">
        <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
      </div>
      <div class="chat-message-info">
        <p class="chat-message-time">2018-10-23 12:32:23</p>
        <div class="chat-message-content">
          this is message
        </div>
      </div>
    </div>
    <div class="chat-message-right">
      <div class="chat-message-info">
        <p class="chat-message-time">2018-10-23 12:32:23</p>
        <div class="chat-message-content">
          this is messagethis is messagethis is messagethis is messagethis is message
          this is messagethis is messagethis is messagethis is messagethis is message
          this is messagethis is messagethis is messagethis is messagethis is message
          this is messagethis is messagethis is messagethis is messagethis is message
        </div>
      </div>
      <div class="chat-contact-avator">
        <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
      </div>
    </div>

    <div class="chat-message-left">
      <div class="chat-contact-avator">
        <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
      </div>
      <div class="chat-message-info">
        <p class="chat-message-time">2018-10-23 12:32:23</p>
        <div class="chat-message-content">
          this is message
        </div>
      </div>
    </div>
    <div class="chat-message-right">
      <div class="chat-message-info">
        <p class="chat-message-time">2018-10-23 12:32:23</p>
        <div class="chat-message-content">
          this is messagethis is messagethis is messagethis is messagethis is message
          this is messagethis is messagethis is messagethis is messagethis is message
          this is messagethis is messagethis is messagethis is messagethis is message
          this is messagethis is messagethis is messagethis is messagethis is message
        </div>
      </div>
      <div class="chat-contact-avator">
        <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
      </div>
    </div>
  </div>
</div>
