<div id="chat-background">
  <div class="chat">
    <app-chat-contacts
      [selfInfo]="selfInfo"
      [currentTab]="currentTab"
      [currentContacts]="currentContacts"
      (onChangeChatTab)="changeChatTab($event)"
      (onSelectContact)="selectContact($event)"
    >
    </app-chat-contacts>
    <div class="chat-content">
      <app-chat-room
        [currentContact]="currentContact"
        [currentMessages]="currentMessages"
        [selfInfo]="selfInfo"
      >
      </app-chat-room>
      <app-chat-reply
        (onSendMessage)="sendMessage($event)"
      >

      </app-chat-reply>
    </div>
  </div>
</div>
