<!-- <div id="chat" fxLayout="column">
  <div class="chat-nav">
    <app-chat-nav [appKey]="appKey" [username]="username"></app-chat-nav>
  </div>
  <div class="chat-content">
      <div class="chat-contacts">
        <p>this is chat-contacts</p>
      </div>
      <div class="chat-room">
        <div class="chat-viewport">
          <p>this is chat-viewport</p>
        </div>
        <div class="chat-reply-box">
          <p>this is chat-reply-box</p>
        </div>
      </div>
  </div>
</div> -->

<div id="chat-background">
  <div class="chat">
    <div class="chat-contacts">
      <div class="chat-self">
          <nz-avatar
            [nzShape]="'square'"
            [nzSize]="'large'"
            [nzIcon]="'user'"
            [nzSrc]="domain + selfInfo.avator"
          >
          </nz-avatar>
          <span>{{selfInfo.nickname}}</span>
      </div>
      <div class="chat-search">
        <nz-input [nzType]="'text'" [nzPlaceHolder]="'查询'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-search"></i>
          </ng-template>
        </nz-input>
      </div>
      <div class="chat-tab">
        <div
          class="chat-tab-item"
          (click)="changeChatTab(0)"
          [class.selected]="currentTab === 0"
        >
          <i class="anticon anticon-message"></i>
        </div>
        <div
          class="chat-tab-item"
          (click)="changeChatTab(1)"
          [class.selected]="currentTab === 1"
        >
          <i class="anticon anticon-solution"></i>
        </div>
        <div
          class="chat-tab-item"
          (click)="changeChatTab(2)"
          [class.selected]="currentTab === 2"
        >
          <i class="anticon anticon-team"></i>
        </div>
      </div>
    </div>
    <div class="chat-content">
      <div class="chat-room-panel">
  
      </div>
      <div class="chat-reply-panel">
  
      </div>
    </div>
  </div>
</div>
