
<nz-modal
  [(nzVisible)]="isShowModal"
  [nzTitle]="modalTitle"
  [nzContent]="currentModalTpl"
  (nzOnCancel)="handleCancelModal()"
  (nzOnOk)="handleOkModal()"
>
</nz-modal>

<ng-template #modifyInfo>
  <div class="row">
    <div class="field">用户昵称</div>
    <input
      nz-input
      placeholder="请输入用户昵称"
      [(ngModel)]="stateForModifyInfo.nickname"
    />
  </div>
  <div class="row">
    <div class="field">用户头像</div>
    <app-upload-input
      class="upload-input"
      (uploadImgSuccess)="uploadImgSuccess($event)"
    >
    </app-upload-input>
  </div>
</ng-template>

<ng-template #addFriends>
  <p>this is addFriends</p>
</ng-template>

<ng-template #addGroup>
  <p>this is addGroup</p>
</ng-template>
