<!--
  该 modal 供  **修改 IM 用户信息**、**添加 IM用户**、**添加群组** 公用
  nz-modal 为 公用的 modal 容器
-->
<nz-modal
  [(nzVisible)]="isShowModal"
  [nzTitle]="modalTitle"
  [nzWidth]="modalType !== '' ? modalTemplateMap[modalType].spec.width : ''"
  [nzContent]="modalType !== '' ? modalTemplateMap[modalType].tpl : ''"
  (nzOnCancel)="handleCancelModal()"
  (nzOnOk)="handleOkModal()"
>
</nz-modal>

<!-- 修改 IM 用户信息  #template -->
<ng-template #imUser>
  <div class="row">
    <div class="field">我的昵称</div>
    <input
      nz-input
      placeholder="请输入用户昵称"
      [(ngModel)]="modalTemplateMap[modalType].state.nickname"
    />
  </div>
  <div class="row">
    <div class="field">我的头像</div>
    <app-upload-input class="upload-input" (uploadImgSuccess)="uploadImgSuccess($event)">
    </app-upload-input>
  </div>
</ng-template>


<!-- 添加 IM 用户  #template -->
<ng-template #imFriends>
  <div class="add-friends-wrap">
    <div class="modal-content-header">
      <nz-input-group nzCompact>
        <nz-select [ngModel]="modalTemplateMap[modalType].state.type">
          <nz-option [nzLabel]="'用户名'" [nzValue]="'username'"></nz-option>
          <nz-option [nzLabel]="'昵称名'" [nzValue]="'nickname'"></nz-option>
        </nz-select>
        <input [ngModel]="modalTemplateMap[modalType].state.search" style="width: 50%;" nz-input>
        <button nz-button [nzType]="'primary'">
          <span>查询</span>
        </button>
      </nz-input-group>
    </div>
    <div class="modal-content-body">
      <div class="modal-content-item" *ngFor="let contactInfo of modalTemplateMap[modalType].state.contacts">
          <div class="modal-content-item-left">
            <div class="modal-content-item-avator">
              <img src="{{contactInfo.avator}}" alt="pic" />
            </div>
            <div class="modal-content-item-description">
              <p>{{contactInfo.nickname}}</p>
              <p>{{contactInfo.extra}}</p>
            </div>
          </div>
          <div class="modal-content-item-right">
            <div>申请添加</div>
          </div>
      </div>
    </div>
    <div class="modal-content-footer" *ngIf="modalTemplateMap[modalType].state.contacts.length > 0">
      <nz-pagination
        [(nzPageIndex)]="modalTemplateMap[modalType].state.pagination.pageIndex"
        [nzTotal]="modalTemplateMap[modalType].state.pagination.total"
        [nzSize]="'small'"
        nzShowTotal
        nzShowQuickJumper
      >
      </nz-pagination>
    </div>
  </div>
</ng-template>


<!-- 添加群组信息  #template -->
<ng-template #imGroups>
  <div class="add-groups-wrap">
    <div class="modal-content-header">
      <nz-input-group nzCompact>
        <nz-select [ngModel]="modalTemplateMap[modalType].state.type">
          <nz-option [nzLabel]="'小组名称'" [nzValue]="'groupname'"></nz-option>
        </nz-select>
        <input [ngModel]="modalTemplateMap[modalType].state.search" style="width: 50%;" nz-input>
        <button nz-button [nzType]="'primary'">
          <span>查询</span>
        </button>
      </nz-input-group>
    </div>
    <div class="modal-content-body">
      <div class="modal-content-item" *ngFor="let groupInfo of modalTemplateMap[modalType].state.groups">
          <div class="modal-content-item-left">
            <div class="modal-content-item-avator">
              <img src="{{groupInfo.group_avator}}" alt="pic" />
            </div>
            <div class="modal-content-item-description">
              <p>{{groupInfo.group_name}}</p>
              <p>{{groupInfo.group_introduce}}</p>
            </div>
          </div>
          <div class="modal-content-item-right">
            <div>申请添加</div>
          </div>
      </div>
    </div>
    <div class="modal-content-footer" *ngIf="modalTemplateMap[modalType].state.groups.length > 0">
      <nz-pagination
        [(nzPageIndex)]="modalTemplateMap[modalType].state.pagination.pageIndex"
        [nzTotal]="modalTemplateMap[modalType].state.pagination.total"
        [nzSize]="'small'"
        nzShowTotal
        nzShowQuickJumper
      >
      </nz-pagination>
    </div>
  </div>
</ng-template>
