<ul class="chat-contacts">
  <li
    *ngFor="let contactInfo of currentContacts"
    class="chat-contact"
    (click)="selectContactItem(contactInfo)"
  >
    <div class="chat-contact-avator">
      <nz-badge [nzDot]="contactInfo.unReadMessages">
        <ng-template #content>
          <nz-avatar
            [nzShape]="'square'"
            [nzSize]="'large'"
            [nzIcon]="'user'"
            [nzSrc]="contactInfo.avator"
          >
          </nz-avatar>
        </ng-template>
      </nz-badge>
    </div>
    <div class="chat-contact-info">
      <div class="chat-contact-topic">
        <span class="chat-contact-name">{{contactInfo.nickname}}</span>
        <span class="chat-contact-time">{{contactInfo.lastTime}}</span>
      </div>
      <div class="chat-contact-last-message">
        <p>{{contactInfo.information}}</p>
      </div>
    </div>
  </li>
</ul>
