.chat-contacts-panel {
  width: 270px;
  height: 100%;
  padding: 0px 10px;
  background-color: #333333;
}
.chat-self {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  position: relative;
  top: 0px;
  left: 0px;
}
.chat-self-info {
  display: flex;
}
.chat-self-info span {
  font-size: 16px;
  color: #ffffff;
  margin-left: 10px;
}
.chat-self-menu {
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}
.chat-self-menu-content {
  position: absolute;
  right: 35px;
  background-color: #ffffff;
  padding: 8px 10px;
  border-radius: 3px;
  z-index: 10;
}
.chat-self-menu-content li {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.chat-self-menu-content li:hover {
  color: #008dff;
}
.chat-self-menu-content li span {
  margin-left: 5px;
}
.chat-search {
  margin-top: 30px;
}
.chat-tab {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #555555;
}
.chat-tab-item {
  width: 33.33%;
  height: 50px;
  line-height: 62px;
  text-align: center;
  cursor: pointer;
}
.chat-tab-item.selected i {
  color: #00bce1;
}
.chat-tab-item i {
  font-size: 25px;
  color: #ffffff;
}