<div class="chat-contacts-panel">
  <div class="chat-self">
      <div class="chat-self-info">
        <nz-avatar
          [nzShape]="'square'"
          [nzSize]="'large'"
          [nzIcon]="'user'"
          [nzSrc]="selfInfo.avator"
        >
        </nz-avatar>
        <span>{{selfInfo.nickname + ' (' + selfInfo.username + ')'}}</span>
      </div>
      <div class="chat-self-menu" (click)="triggerMenu($event)">
        <i class="anticon anticon-menu-fold"></i>
      </div>
      <ul class="chat-self-menu-content" *ngIf="isShowMenu">
        <li *ngFor="let iconInfo of iconInfos" (click)="showMenuModal(iconInfo.type)">
          <i class="{{'anticon ' + iconInfo.icon}}"></i>
          <span>{{iconInfo.content}}</span>
        </li>
      </ul>
  </div>
  <div class="chat-search">
    <nz-input [nzType]="'text'" [nzPlaceHolder]="'查询'" [nzSize]="'large'">
      <ng-template #prefix>
        <i class="anticon anticon-search"></i>
      </ng-template>
    </nz-input>
  </div>
  <div class="chat-tab">
    <div
      class="chat-tab-item"        
      *ngFor="let classname of ['anticon-message', 'anticon-solution', 'anticon-team'], let flag = index"
      (click)="changeChatTab(flag)"
      [class.selected]="currentTab === flag"
    >
      <i class="{{'anticon ' + classname}}"></i>
    </div>
  </div>
  <app-chat-contacts-item
    [currentContacts]="currentContacts"
    [currentTab]="currentTab"
    (selectContact)="selectContact($event)"
  >
  </app-chat-contacts-item>
</div>
<!-- 菜单的三个 modal -->
<app-chat-self-modal
  [isShowSelfModal]="isShowSelfModal"
  (handleSelfModalOk)="handleSelfModalOk($event)"
  (handleSelfModalCancel)="handleSelfModalCancel($event)"
>
</app-chat-self-modal>
<app-chat-contacts-modal
  [isShowContactsModal]="isShowContactsModal"
  (handleContactsModalCancel)="handleContactsModalCancel($event)"
>
</app-chat-contacts-modal>
<app-chat-groups-modal
  [isShowGroupsModal]="isShowGroupsModal"
  (handleGroupsModalCancel)="handleGroupsModalCancel($event)"
>
</app-chat-groups-modal>
